<html>

<head>
    <title>Cord19-Explorer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://cord19-explorer.herokuapp.com/">
            <h3>Cord19-Explorer</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/gorjanradevski/cord19-explorer" target="_blank">Github
                        repo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">Arxiv paper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/dusangrujicic/cord19-visualizer"
                        target="_blank">Cord19-Visualizer</a>
                </li>

            </ul>
        </div>
    </nav>
    <a id="back-to-top-button"></a>
    <div class="container main-content">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <p class="main-text text-center">The Cord19-Explorer is a tool done within the
                    scope of the Macchina project at <a href="https://www.esat.kuleuven.be/psi"
                        target="_blank">ESAT-PSI</a> at <a href="https://www.kuleuven.be/kuleuven/" target="_blank">KU
                        Leuven</a>. The
                    Cord19-Explorer is a tool that is supposed to help machine learning researchers, medical
                    experts as well as the general audience to expore the data from
                    the <a href="https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge"
                        target="_blank">Covid19 dataset by AllenAI</a>. An explanation of what the explorer
                    does in the background can be found in the Arxiv submission found in
                    the navigation. Furthermore, the full code (as well as the deep
                    learning model) are shared within the Github repository (also
                    shared in the navigation) under the MIT license. Last but not least,
                    we share a link to the Cord19-Visualizer, which is also a tool done
                    within the scope of the project - also explained in detail in the
                    Arxiv submission.
                </p>
                <form action="" method="post" novalidate>
                    <div class="form-group">
                        {{ form.query(class="form-control form-control-lg", placeholder="Add your query here...") }}
                    </div>
                    <div class="form-group text-center">
                        {{ form.submit(class="btn btn-primary btn-lg", placeholder="Search") }}
                    </div>
                </form>
            </div>
            {% if documents %}
            <div class="col-md-10 offset-md-1">
                {% for document in documents %}
                <div class="card document">
                    <div class="card-header">{{ document.title }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Authors: {{ document.authors }}</h5>
                        <p class="card-text">{{ document.abstract }}</p>
                        <a href="{{ document.url }}" , class="btn btn-primary" , target="_blank">Open document</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

</body>

</html>